{% extends 'base.html' %}
{% block content %}
  <h1 data-aos="fade-down">Nosotros</h1>
  <div data-aos="fade-up">
    Monroy Asesores ayuda a las organizaciones a desarrollar estrategias efectivas de capital humano. Ofrecemos coaching ejecutivo, desarrollo de estructuras organizacionales y formación especializada en español.
  </div>
  <img src="https://images.unsplash.com/photo-1503676382389-4809596d5290?auto=format&fit=crop&w=800&q=80" alt="Nosotros image" class="img-fluid my-4" data-aos="zoom-in">
{% endblock %}
