{% extends 'base.html' %}
{% block content %}
<h1>Registro</h1>
<form method="post" class="show-spinner">
  <div class="mb-3">
    <label class="form-label">Correo electrónico</label>
    <input type="email" class="form-control" name="email" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    <input type="password" class="form-control" name="password" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Empresa (opcional)</label>
    <input type="text" class="form-control" name="company">
  </div>
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
{% endblock %}
