{% extends 'base.html' %}
{% block content %}
<h1 data-aos="fade-down">Login</h1>
{% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
<form method="post" data-aos="fade-up">
  <div class="mb-3">
    <input class="form-control" name="username" placeholder="Username">
  </div>
  <div class="mb-3">
    <input class="form-control" type="password" name="password" placeholder="Password">
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}
